# Public WordPress URL used in HTML asset links (WP_HOME / WP_SITEURL).
# Local Docker Desktop:
# LAB_WP_URL=http://127.0.0.1:8080
#
# Remote lab server (example):
LAB_WP_URL=http://5.129.242.217:8080
